@charset 'utf-8';

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url(https://fonts.gstatic.com/s/inconsolata/v12/BjAYBlHtW3CJxDcjzrnZCI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Inconsolata', 'DejaVu Sans Mono', 'Lucida Console', 'Courier New', Monaco, monospace;
}

body {
    background-color: #222;
    color: #999;
    padding: 12pt;
    font-size: 12pt;
}

h1 {
    color: #ccc;
    text-transform: uppercase;
    font-size: 26pt;
    letter-spacing: 0.05em;
}

p {
    margin-top: 12pt;
}

#main {
    margin: 0 auto;
    width: 320px;
}

#playground {
    margin-top: 24pt;
    margin-bottom: 24pt;
    color: #ddd;
}

#word {
    margin-bottom: 12pt;
    letter-spacing: 2pt;
    color: #0e0;
}

#message {
    margin-top: 12pt;
    margin-bottom: 12pt;
}

#bad-characters {
    color: #666;
}

button {
    padding: 4pt 8pt;
    font-weight: bold;
}

td[id^=mistake-] {
    color: #c00;
}

.invisible {
    visibility: hidden;
}

.won {
    color: #f8f8f8;
}

#help {
    margin-top: 32pt;
    white-space: pre;
    font-size: 8pt;
}

.flash {
    animation-duration: 100ms;
    animation-name: flash;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 100ms;
    -webkit-animation-name: flash;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-duration: 100ms;
    -moz-animation-name: flash;
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -moz-animation-timing-function: ease-in-out;
}

@keyframes flash {
    0% {
        background-color: #222;
    }
    25% {
        background-color: #f00;
    }
    50% {
        background-color: #fff;
    }
    75% {
        background-color: #f00;
    }
    90% {
        background-color: #100;
    }
    100% {
        background-color: #222;
    }
}

@-webkit-keyframes flash {
    0% {
        background-color: #222;
    }
    25% {
        background-color: #f00;
    }
    50% {
        background-color: #fff;
    }
    75% {
        background-color: #f00;
    }
    90% {
        background-color: #100;
    }
    100% {
        background-color: #222;
    }
}

@-moz-keyframes flash {
    0% {
        background-color: #222;
    }
    25% {
        background-color: #f00;
    }
    50% {
        background-color: #fff;
    }
    75% {
        background-color: #f00;
    }
    90% {
        background-color: #100;
    }
    100% {
        background-color: #222;
    }
}
