@charset 'utf-8';

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url(https://fonts.gstatic.com/s/inconsolata/v12/BjAYBlHtW3CJxDcjzrnZCI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Inconsolata', 'DejaVu Sans Mono', 'Lucida Console', 'Courier New', Monaco, monospace;
}

body {
    background-color: #222;
    color: #999;
    font-size: 14px;
}

h1 {
    color: #ccc;
    text-transform: uppercase;
    font-size: 33px;
    letter-spacing: 0.05em;
}

p {
    margin-top: 8px;
}

#main {
    margin: 0 auto;
    position: relative;
    padding: 8px;
    max-width: 640px;
}

#playground {
    margin: 8px 0;
    color: #eee;
    font-weight: bold;
}

#word {
    margin-bottom: 8px;
    letter-spacing: 1px;
    color: #0e0;
}

.noun {
    text-transform: uppercase;
}

.verb {
    text-transform: lowercase;
}

#virtual-keyboard {
    margin: 6pt 0;
}

#virtual-keyboard > div {
    line-height: 20px;
}

#virtual-keyboard > div:nth-child(2) {
    margin-left: 1%;
}

#virtual-keyboard > div:nth-child(3) {
    margin-left: 2%;
}

#virtual-keyboard button {
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid #666;
    border-radius: 4px;
    padding: 2px 4px;
    margin: 1px 1px 0 0;
    width: 8%;
    min-height: 22px;
    background-color: #ddd;
    color: #333;
    font-weight: bold;
    max-width: 44px;
    max-height: 44px;
}

#virtual-keyboard button.good {
    background-color: #0e0;
}

#virtual-keyboard button.bad {
    background-color: #c00;
}

#message-container {
    margin-bottom: 12px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    background-color: rgba(20, 20, 20, 0.85);
    cursor: pointer;
}

#message {
    margin: 15% auto;
    font-size: 24px;
    max-width: 640px;
    padding: 2em;
    font-weight: bold;
    text-shadow: rgba(255, 255, 255, 0.6) 0 0 10px;
    text-align: center;
}

button {
    padding: 0 1em;
    font-weight: bold;
}

td[id^=mistake-] {
    color: #f00;
    text-shadow: #f33 0 0 10px;
}

.invisible {
    transition: all 250ms;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    opacity: 0;
    visibility: hidden;
}

.won {
    color: #f8f8f8;
}

#help {
    margin-top: 8px;
    white-space: pre;
    font-size: 11px;
}

.flash {
    animation-duration: 100ms;
    animation-name: flash;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease;
    -webkit-animation-duration: 100ms;
    -webkit-animation-name: flash;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: ease;
    -moz-animation-duration: 100ms;
    -moz-animation-name: flash;
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -moz-animation-timing-function: ease;
}

@keyframes flash {
    0% {
        background-color: #222;
    }
    25% {
        background-color: #f00;
    }
    50% {
        background-color: #fff;
    }
    75% {
        background-color: #f00;
    }
    90% {
        background-color: #100;
    }
    100% {
        background-color: #222;
    }
}

@-webkit-keyframes flash {
    0% {
        background-color: #222;
    }
    25% {
        background-color: #f00;
    }
    50% {
        background-color: #fff;
    }
    75% {
        background-color: #f00;
    }
    90% {
        background-color: #100;
    }
    100% {
        background-color: #222;
    }
}

@-moz-keyframes flash {
    0% {
        background-color: #222;
    }
    25% {
        background-color: #f00;
    }
    50% {
        background-color: #fff;
    }
    75% {
        background-color: #f00;
    }
    90% {
        background-color: #100;
    }
    100% {
        background-color: #222;
    }
}



.micro-flash {
    animation-duration: 100ms;
    animation-name: micro-flash;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease;
    -webkit-animation-duration: 100ms;
    -webkit-animation-name: micro-flash;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: ease;
    -moz-animation-duration: 100ms;
    -moz-animation-name: micro-flash;
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -moz-animation-timing-function: ease;
}

@keyframes micro-flash {
    0% {
        background-color: #222;
    }
    50% {
        background-color: #666;
    }
    100% {
        background-color: #222;
    }
}

@-webkit-keyframes micro-flash {
    0% {
        background-color: #222;
    }
    50% {
        background-color: #666;
    }
    100% {
        background-color: #222;
    }
}

@-moz-keyframes micro-flash {
    0% {
        background-color: #222;
    }
    50% {
        background-color: #666;
    }
    100% {
        background-color: #222;
    }
}
